terratowns_endpoint="https://terratowns.cloud/api"
RetroArcade = { 
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/RetroArcade"
    content_version = 1
}
PizzaCake = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/PizzaCake"
    content_version = 1
}

#assets_path = "/workspace/terraform-beginner-bootcamp-2023/public/assets"
#s3_bucket_name = "morgan123456654321"