/* Common styles for all screen sizes */
body {
    background-image: linear-gradient(to bottom, #0000ff 0%, #0000ff 33.33%, #ff0000 33.33%, #ff0000 66.66%, #0000ff 66.66%, #0000ff 100%);
    font-family: 'Indie Flower', cursive;
    text-align: center;
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Ensure the body covers the full viewport height */
    display: flex;
    flex-direction: column; /* Arrange contents vertically */
    justify-content: space-between; /* Push content to top and bottom */
}

header, h2, h2 + p {
    color: white;
}

header {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

/* Add styles for the image collage section */
.image-collage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.image-collage img {
    max-width: 100%;
    height: auto;
    border-radius: 60%;
}

/* Text above footer */
.text-above-footer {
    font-size: 17px;
    color: white;
    padding: 20px; /* Add some spacing */

}

/* Footer styles */
footer {
    background-color: #0099cc;
    padding: 14px;
    color: white;
    text-align: center;
}
